*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    display:flex;
    background:url("logrosf.png");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.menu{
    width:180px;
    min-height:100vh;
    background:#0d8bff;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:20px;
}

.boton{
    width:120px;
    height:120px;
    background:linear-gradient(#ffe39a,#d79a2c);
    margin:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:8px;
}

.boton img{
    width:70px;
}

.contenido{
    flex:1;
    padding:40px;
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    justify-content:center;
    align-items:flex-start;
    margin-left:20px;
}
.card{
    width:300px;
    background:linear-gradient(#22b8ff,#004dcf);
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 0 15px black;
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.descripcion{
    padding:15px;
    background:linear-gradient(#fff7d4,#d9c9a0);
    text-align:center;
}

.descripcion h3{
    margin-bottom:10px;
}